<%= form_for(@platform) do |f| %>
  <% if @platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platform.errors.count, "error") %> prohibited this platform from being saved:</h2>

      <ul>
      <% @platform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :platform_metadata %><br />
    <%= f.text_field :platform_metadata %>
  </div>
  <div class="field">
    <%= f.label :geo_location %><br />
    <%= f.text_field :geo_location %>
  </div>
  <div class="field">
    <%= f.label :license %><br />
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= f.label :permissions %><br />
    <%= f.text_field :permissions %>
  </div>
  <div class="field">
    <%= f.label :agency %><br />
    <%= f.text_field :agency %>
  </div>
  <div class="field">
    <%= f.label :authority %><br />
    <%= f.text_field :authority %>
  </div>
  <div class="field">
    <%= f.label :no_data_value %><br />
    <%= f.text_field :no_data_value %>
  </div>
  <div class="field">
    <%= f.label :graph_length %><br />
    <%= f.text_field :graph_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
