<div class="controls">
  <%= link_to 'Edit', edit_platform_path(@platform), class: "btn btn-primary" %> 
  <%= link_to 'Back', platforms_path, class: "btn btn-primary" %>
</div>
<h2>Operations for the <%= @platform.name %> Platform</h2>
<hr>
<table>
  <tr>
    <td width="160"><b>Name:</b></td><td width="200"><%= @platform.name %></td>
    <td width="160"><b>Slug:</b></td><td width="200"><%= @platform.slug %></td>
  </tr>
  <tr>
    <td><b>Agency:</td><td><%= @platform.agency %></td>
    <td><b>Authority:</b></td><td><%= @platform.authority %></td>
  </tr>
  <tr>
    <td><b>License:</b></td><td><%= @platform.license %></td>
    <td><b>Permissions:</b></td><td><%= @platform.permissions %></td>
  </tr>
  <tr>
    <td><b>Platform Metadata:</b></td>
    <td colspan="3"><%= @platform.platform_metadata %></td>
  </tr>
  <tr>
    <td><b>Geographic Location:</b></td>
    <td colspan="3"><%= @platform.geo_location %></td>
  </tr>
  <tr>
    <td><b>No Data Value:</b></td>
    <td colspan="3"><%= @platform.no_data_value %></td>
  </tr>
</table>
<br />
<ul class="nav nav-pills nav-background" id="platformTab">
	<li class="active"><a href="#sensors" data-toggle="pill">Sensor List</a></li>
	<li><a href="#processing" data-toggle="pill">Process Sensors</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="sensors">
		<h3>Associated Sensors List</h3>

		<table>
			<tr>
			  <th width="200">Source Field</th>
			  <th width="200">Label</th>
			  <th width="400">Sensor Metadata</th>
        <th width="80"></th>
			</tr>
     	<%= render @sensors %>
		</table>
  </div>

  <div class="tab-pane" id="processing">
    <div class="controls">
     	<%= link_to 'New Process', new_platform_event_path(@platform), class: "btn btn-primary" %>
    </div>
    <h3>Process Sensor List</h3>
    <br />

  	<table>
  		<tr>
        <th width="200">Field Name</th>
  			<th width="140">Start Date/Time</th>
  			<th width="140">End Date/Time</th>
  			<th width="400">Command</th>
        <th widht="160"></th>
        <th widht="160"></th>
  		</tr>
  		<%= render @events, :locals => { :platform => @platform } %>
  	</table>
  </div>
</div>

<script type="text/javascript">
  $('#platformTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  // $('#processing a').click(function (e) {
  //   e.preventDefault();
  //   $(this).tab('show');
  // })
  <%= raw show_tab_for("platformTab") %>
</script>
