%table.table.table-striped.table-condensed
  %tr
    %th{:width => "50"}
      System
    %th{:width => "50"}
      Status
    %th{:width => "140"}
      Time
    %th{:width => "300"}
      Message
  - status.each do |message|
    %tr
      %td= message["system"].upcase
      - case message["status"]
        - when "ALERT!"
          %td.alert-error
            =message["status"]
        - when "Error"
          %td.alert-error
            =message["status"]
        - when "Finished"
          %td.alert-good
            =message["status"]
        - when "Running"
          %td.alert-warn
            =message["status"]
        - else
          %td
            =message["status"]
      %td
        - unless message["status"] == "Finished"
          = "Started #{message["start_time"]}"
        - else
          = "Ended #{message["end_time"]}"
      %td= message["message"]
