.row-fluid
  .span6
    .sensor-controls
      = link_to 'Edit', edit_group_path(@group, :single=>true), class: "btn btn-primary"
      = link_to 'Back', groups_path, class: "btn btn-primary"
    %h3
      Operations For Group <i>#{@group.name}</i>
    %hr/
    %table
      %tr
        %td{:width => "160"}
          %b Name:
        %td{:width => "200"}= @group.name
        %td{:width => "160"}
          %b Description:
        %td{:width => "200"}= @group.description
      %tr
        %td
          %b Default Graph Length:
        %td= @group.graph_length
  .span6
    %h5 System Messages For Group <i>#{@group.name}</i>
    %div.resque{id:"status_#{@group.id}"}
      =render "status/system_status", status: @group.current_messages

.row-fluid
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %ul.nav
          %li{:class => (current_page?(platforms_group_path(@group)) ? "active" : "")}
            = link_to "Platforms", platforms_group_path(@group)
          %li{:class => (current_page?(group_sensors_path(@group)) ? "active" : "")}
            = link_to "Sensors", group_sensors_path(@group)
          %li{:class => (current_page?(group_events_path(@group)) ? "active" : "")}
            = link_to "Processes", group_events_path(@group)
          %li{:class => (current_page?(group_alerts_path(@group)) ? "active" : "")}
            = link_to "Alerts", group_alerts_path(@group)
          %li{:class => (current_page?(group_graphs_path(@group)) ? "active" : "")}
            = link_to "Graphs", group_graphs_path(@group)
          %li{:class => (current_page?(data_view_group_path(@group)) ? "active" : "")}
            = link_to "Data View", data_view_group_path(@group)

:javascript
  console.log($('#status_#{@group.id}').poll);

  $('#status_#{@group.id}').poll(function(callback){
    $('#status_#{@group.id}').load('#{group_poll_group_status_path(@group)}', callback);
  });