!!!
%html
  %head
    %title Amaru Sensor Data System
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{"data-pjax-container" => true}
    .data-pjax-container
      .container-fluid
        = render "layouts/header"
        .row-fluid
          .span12
            = render "layouts/navigation"
        .row-fluid
          .span12
            = yield
        = raw show_flash_messages
        .row-fluid.footer-sensor
          .span12
            = render "layouts/footer"
