<tr>
	<td><%= event.name %></td>
	<td><%= date_display(event.starts_at) %></td>
	<td><%= date_display(event.ends_at) %></td>
	<td class="command-background"><%= event.command %></td>
	<td><%= link_to 'Edit', edit_platform_event_path(@platform, event), class: "btn btn-primary" %></td>
  <td><%= button_to 'Delete', [@platform, event], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></td>
</tr>