<div class="event-form row-fluid">
<%= form_for([@platform, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation row-fluid">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="field date span5">
      <%= f.label :starts_at %>
      <%= f.datetime_select :starts_at %>
    </div>
    <div class="field date span5">
      <%= f.label :ends_at %>
      <%= f.datetime_select :ends_at, :class => "span1" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="field span8">
      <%= f.label :command %>
      <%= f.text_field :command %>
    </div>
  </div><br />
  <div class="actions row-fluid">
    <%= f.submit %>
  </div>
<% end %>
</div>