<div class="event-form row-fluid form-horizontal">
<%= form_for([@platform, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation row-fluid">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="field span5">
      Processing Field
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
  </div>
  <div class="row-fluid">
    <div class="field span8">
      <%= f.label :description %>
      <%= f.text_area :description, :cols => 80, :rows => 6 %>
    </div>
  </div><br />
  <% unless @event.new_record? %>
    <div class="row-fluid"
      <div class="span2">
        <%= link_to 'Add Command', add_platform_event_path(@platform, @event), class: "btn btn-primary" %>
      </div>
    </div>
    <% @event.commands.each do |command| %>
      <%= render :partial => command.command, :locals => {:command => command} %>
    <% end %>
  <% end %>
  <br />
  <div class="actions row-fluid">
    <%= f.submit (@event.new_record? ? "Create Process" : "Update Process"), :class => "btn btn-primary" %>
  </div>
<% end %>
</div>

<script>
  $(function() {
    $( ".datepicker" ).datetimepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        changeMonth: true,
        showSecond: true,
        timeFormat: "hh:mm:ssz",
        separator: " "});
  });
</script>