= hidden_field_tag "commands[#{command.index}][id]", command.id
.field.span2
  = label_tag :starts_at
  = text_field_tag "commands[#{command.index}][starts_at]", datepicker_format(command.starts_at), :class=>"datepicker"
.field.span2
  = label_tag :ends_at
  = text_field_tag "commands[#{command.index}][ends_at]", datepicker_format(command.ends_at), :class=>"datepicker"
.field.span1
  = label_tag :command
  = select_tag "commands[#{command.index}][command]", event_commands(command.command)
.field.span2
  = label_tag :window
  = text_field_tag "commands[#{command.index}][window]", [command.window]
.field.span1
  = render :partial => "controls", :locals => {:platform => @platform, :event => @event, :command_id => command.id}

:javascript
  $('#commands_#{command.index}_command').popover({
    animation: true,
    title: "Mean Command",
    content: "The mean command calculates the mean for a single field from the raw data collection and puts it into the processed data collection. You can apply a window width to the command to control how much of the data is used in the calculation."
  });

  $('#commands_#{command.index}_window').popover({
    animation: true,
    title: "Mean Window",
    content: "Window allows you to set the time frame over which the calculation will run for each interation. For example: 2.days or 15.minutes.  The number is the amount of units, then period, then the type of units. This amount is doubled to get the full window width (-amount < capture_time < +amount)."
  });  
  
  $( ".datepicker" ).datetimepicker({
      dateFormat: "yy-mm-dd",
      changeYear: true,
      changeMonth: true,
      showSecond: true,
      timeFormat: "hh:mm:ssz",
      separator: " "});