%h1 Listing events
%table
  %tr
    %th Starts at
    %th Ends at
    %th Command
    %th
    %th
    %th
  - @events.each do |event|
    %tr
      %td= event.starts_at
      %td= event.ends_at
      %td= event.command
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Event', new_event_path
