.row-fluid
  .span12
    .sensor-controls
      = link_to 'New Graph', new_group_graph_path(@group), class: "btn btn-primary"
    %h3 Listing Graphs
.row-fluid
  .span12
    %table.table.table-stripped.table-condenced
      %tr
        %th Name
        %th Image
        %th Controls
      - @graphs.each do |graph|
        %tr
          %td= graph.name
          %td
            = link_to image_group_graph_path(@group, graph), :class => "graph_link" do
              =image_tag thumb_group_graph_path(@group, graph)
          %td
            %table
              %tr
                %td= link_to 'Edit', edit_group_graph_path(@group, graph), class: "btn btn-primary"
                %td= link_to 'Re-Build', build_group_graph_path(@group, graph), class: "btn btn-primary"
                %td= link_to 'Delete',[@group, graph], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger delete"
#graph_image_modal.modal.hide
  .modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal"} x
  .modal-body
    %img{:src => ""}
                
:javascript
  $('a.graph_link').click(function (e) {
    e.preventDefault();
    $("#graph_image_modal img").attr("src", $(e.currentTarget).attr("href"));
    $('#graph_image_modal').modal('show');
  });
