<%= form_for(@sensors_process_sensor) do |f| %>
  <% if @sensors_process_sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensors_process_sensor.errors.count, "error") %> prohibited this sensors_process_sensor from being saved:</h2>

      <ul>
      <% @sensors_process_sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag :platform_id, @sensors_platform.to_param %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= f.label :no_data %>
    <%= f.text_field :no_data %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
