<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sensors_process_sensor.name %><br />
  <b>No data:</b>
  <%= @sensors_process_sensor.no_data %>
</p>


<%= link_to 'Edit', edit_sensors_process_sensor_path(@sensors_process_sensor) %> |
<%= link_to 'Back', sensors_process_sensors_path %>
