.event-form.row-fluid
  .span12
    = form_for([@group, @event], :class => "form-horizontal") do |f|
      - if @event.errors.any?
        %div{:id => "error_explanation row-fluid"}
          %h2
            = pluralize(@event.errors.count, "error")
            prohibited this event from being saved:
          %ul
            - @event.errors.full_messages.each do |msg|
              %li= msg
      .row-fluid
        .span5
          .control-group
            = f.label :name, "Processed Field Name:", :class=>"control-label"
            .controls
              = f.text_field :name
          .control-group
            = f.label :description, "Metadata Description:", :class=>"control-label"
            .controls
              = f.text_area :description, :rows => 6, :class=>"span12"
        .control-group.span2
          = f.label :from, "From Raw Fields:", :class=>"control-label"
          .control
            = f.select :from, sensors_select(@sensors, @event.from), {}, {:multiple => true, :size => 11}
        .control-group.span2
          = f.label :interval, "Time Interval:", :class=>"control-label"
          .controls
            = f.text_field :interval, :default => "import"
        .control-group.span1
          = f.label :enabled, "Enabled?:", :class=>"control-label"
          .controls
            = f.check_box :enabled
      - unless @event.new_record?
        .row-fluid
          .span2
            = link_to 'Add Command', add_group_event_path(@group, @event), class: "btn btn-primary", :id => "add_command", "data-skip-pjax" => true
        #commands
          = render :partial=>"command", :locals=>{:group => @group, :event => @event}
      %br/
      .actions.row-fluid
        = f.submit (@event.new_record? ? "Create Process" : "Update Process"), :class => "btn btn-primary"
:javascript
  $('#add_command').live('click', function() {
    $('#commands').load($(this).prop('href'));
    return false;
  });

  $('#commands a.delete').live('click', function(e) {
    var target = $(e.target).parents(".event-update")
    $.get($(e.target).prop('href'), function(data) {
      $('#commands').append(data);
    });

    e.stopPropagation();
    return false;
  });

  $(document).on("click", "a.up", function() {
    $('#commands').load($(this).prop('href'));
    return false;
  });

  $(document).on("click", "a.down", function() {
    $('#commands').load($(this).prop('href'));
    return false;
  });
