= hidden_field_tag "commands[#{command.index}][id]", command.id
.field.span2
  = label_tag :starts_at, "Starts At:"
  = text_field_tag "commands[#{command.index}][starts_at]", datepicker_format(command.starts_at), :class=>"datepicker"
.field.span2
  = label_tag :ends_at, "Ends At:"
  = text_field_tag "commands[#{command.index}][ends_at]", datepicker_format(command.ends_at), :class=>"datepicker"
.field.span2
  = label_tag :command, "Command:"
  = select_tag "commands[#{command.index}][command]", event_commands(command.command)
.field.span2
  = label_tag :param_one, "Sensor Position:"
  = text_field_tag "commands[#{command.index}][param_one]", [command.param_one], class: "span12"
.field.span4
  &nbsp;
.field.span1
  = render :partial => "controls", :locals => {:group => @group, :event => @event, :command_id => command.id}

:javascript
  $('#commands_#{command.index}_command').popover({
    animation: true,
    trigger: "hover",
    title: "Ice thickness from thermistor string",
    content: "Finds the ice thickness from the temperature change in the thermistor string."
  });

  $('#commands_#{command.index}_param_one ').popover({
    animation: true,
    trigger: "hover",
    title: "Sensor Position",
    content: "The depth position of the sensor from the top of the ice in meters."
  });  
  
  $(function() {
    $( ".datepicker" ).datetimepicker({
        dateFormat: "yy-mm-dd",
        changeYear: true,
        changeMonth: true,
        showSecond: true,
        timeFormat: "hh:mm:ss",
        separator: " "});
  });