.row-fluid
  .span12
    .sensor-controls
      = link_to 'New Event', new_group_event_path(@group), class: "btn btn-primary"
    %h2 Listing Processing Events
.row-fluid
  .span12
    %table.table.table-stripped.table-condenced
      %tr
        %th Processed Field
        %th Description
        %th Controls
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.description
          %td
            %table
              %tr
                %td= link_to 'Edit', edit_group_event_path(@group, event), class: "btn btn-primary"
                %td= link_to 'Destroy', group_event_path(@group, event), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger delete"
%br/
