.row-fluid
  .span2
    = graph.name
  .span2
    = link_to image_platform_graph_path(@platform, graph), :class => "graph_link" do
      =image_tag thumb_platform_graph_path(@platform, graph)
  .span2
    %table
      %tr
        %td
          = link_to 'Edit', edit_platform_graph_path(@platform, graph), class: "btn btn-primary"
        %td
          = link_to 'Re-Build', build_platform_graph_path(@platform, graph), class: "btn btn-primary"
        %td
          = link_to 'Delete',[@platform, graph], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger delete"