<%= form_for(@sensors_sensor) do |f| %>
  <% if @sensors_sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensors_sensor.errors.count, "error") %> prohibited this sensors_sensor from being saved:</h2>

      <ul>
      <% @sensors_sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag :platform_id, @sensors_platform.to_param %>
    <%= f.label :label %><br />
    <%= f.text_field :label, :size => 60 %><br />
    <%= f.label :sensor_metadata %><br />
    <%= f.text_field :sensor_metadata, :size => 80 %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
