<h1>Listing sensors_sensors</h1>

<table>
  <tr>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensors_sensors.each do |sensors_sensor| %>
  <tr>
    <td><%= sensors_sensor.label %></td>
    <td><%= link_to 'Show', sensors_sensor %></td>
    <td><%= link_to 'Edit', edit_sensors_sensor_path(sensors_sensor) %></td>
    <td><%= link_to 'Destroy', sensors_sensor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor', new_sensors_sensor_path %>
