%table
  - @failures.each_with_index do |f, index|
    = "index #{index}"
    - break if index >= 6
    %tr
      %td= f["error"]
      %td= button_to 'Requeue', retry_resque_path(index), class: "btn btn-primary"
      %td= button_to 'Remove', resque_path(index), method: :delete, class: "btn btn-danger"