%tr
  %td= group.name
  %td= group.description
  %td
    %table
      %tr
        %td= link_to 'Operations', group_platforms_path(group), class: "btn btn-primary"
        %td= link_to 'Edit', edit_group_path(group), class: "btn btn-primary"
        %td= link_to 'Delete', group_path(group), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger delete"