%tr
  %td= platform.slug
  %td= platform.name
  %td= platform.geo_location
  %td
    %table
      %tr
        %td= link_to 'Edit', edit_platform_path(platform, :group_id=>@group.id), class: "btn btn-primary"
        %td= link_to 'Remove', remove_platform_group_path(@group, platform_id: platform.id), confirm: 'Are you sure?', class: "btn btn-danger"