.row-fluid
  .span12
    .sensor-controls
      = form_tag(add_platform_group_path(@group)) do
        = label_tag :slug, "Platforms:", :class=>"btn brn-primary"
        = select_tag :slug, options_for_select(@platform_list)
        = submit_tag "Add Platform", :class => "btn btn-primary"
    %h4 Platform List
    = paginate @platforms
    %table.table.table-striped.table-condensed
      %tr
        %th{:width => "160"}
          %b Slug
        %th{:width => "160"}
          %b Name
        %th{:width => "160"}
          %b Geo Location
        %th{:width => "160"}
          %b Controls
      = render @platforms
