.row-fluid
  .span6
    .sensor-controls
      = link_to 'Edit', edit_platform_path(@platform, :group_id=>"show"), class: "btn btn-primary"
      = link_to 'Back', platforms_path, class: "btn btn-primary"
    %h4
      Display For <i>#{@platform.name}</i> Platform
    %hr/
    %table
      %tr
        %td{:width => "160"}
          %b Name:
        %td{:width => "200"}= @platform.name
        %td{:width => "160"}
          %b Slug:
        %td{:width => "200"}= @platform.slug
      %tr
        %td
          %b Agency:
        %td= @platform.agency
        %td
          %b Authority:
        %td= @platform.authority
      %tr
        %td
          %b License:
        %td= @platform.license
        %td
          %b Permissions:
        %td= @platform.permissions
      %tr
        %td
          %b No Data Value:
        %td= @platform.no_data_value
        %td
        %td
      %tr
        %td
          %b Platform Metadata:
        %td{:colspan => "3"}= @platform.platform_metadata
      %tr
        %td
          %b Geographic Location:
        %td{:colspan => "3"}= @platform.geo_location
  .span6
    %h4
      Groups this platform belongs to:
    %ul
      - @groups.each do |group|
        %li= group
.row-fluid
  %br/
  %ul#platformTab.nav.nav-pills.nav-background
    %li.active
      %a{"data-toggle" => "pill", :href => "#sensors"} Sensor List
    %li
      %a{"data-toggle" => "pill", :href => "#dataview"} View Sensor Data
  .tab-content
    #sensors.tab-pane.active
      .sensor-controls
        = link_to 'New Sensor', new_platform_sensor_path(@platform), class: "btn btn-primary"
      %h4 Associated Sensors List
      = paginate @sensors
      %table.table.table-striped.table-condensed
        %tr
          %th Source Field
          %th Label
          %th Sensor Metadata
          %th
        = render @sensors
    #dataview.tab-pane
      .row-fluid
        .span2
          %h4 View Raw Sensor Data
          = render :partial => 'hc_controls'
        .span10
          #rawchart{:style => "width: 100%; height: 400px"}
            %h4 To see graph, click the "Display Graph" button.
#graph_image_modal.modal.hide
  .modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal"} x
  .modal-body
    %img{:src => ""}

:javascript
  $('#platformTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  #{raw show_tab_for("platformTab")}

  $('a.graph_link').click(function (e) {
    e.preventDefault();
    $("#graph_image_modal img").attr("src", $(e.currentTarget).attr("href"));
    $('#graph_image_modal').modal('show');
  });
