.event-form.row-fluid.form-horizontal
  = form_for([@group, @alert]) do |f|
    - if @alert.errors.any?
      #error_explanation
        %h3
          = pluralize(@alert.errors.count, "error")
          prohibited this alert from being saved:
        %ul
          - @alert.errors.full_messages.each do |msg|
            %li= msg
    .row-fluid
      .span12
        .row-fluid
          .span6
            %br/
            .control-group
              = f.label :name, "Name:", :class=>"control-label"
              .controls
                = f.text_field :name
            .control-group
              = f.label :starts_at, "Starts At:", :class=>"control-label"
              .controls
                = f.text_field :starts_at, value: datepicker_format(@alert.starts_at), :class=>"datepicker"
            .control-group
              = f.label :ends_at, "Ends At:", :class=>"control-label"
              .controls
                = f.text_field :ends_at, value: datepicker_format(@alert.ends_at), :class=>"datepicker"
            .control-group
              = f.label :emails, "Emails:", :class=>"control-label"
              .controls
                = f.text_field :emails
            .control-group
              = f.label :message, "Message:", :class=>"control-label"
              .controls
                = f.text_area :message, :rows => 4, :class => "span12"
            .control-group
              = f.label :send_to, "Send Message To:", :class=>"control-label"
              .controls
                = f.select :send_to, {"Email" => "email", "Commander" => "commander", "Both Email & Commander" => "both"}, {}
            .control-group
              = f.label :disabled, "Disable Alert:", :class=>"control-label"
              .controls
                = f.check_box :disabled
    - unless @alert.new_record?
      .span12
        .row-fluid
          = link_to 'Add Event', add_group_alert_path(@group, @alert), class: "btn btn-primary", :id => "add_command", :remote => true
        #commands
          = f.fields_for :alert_events do |event_builder|
            = render "alert_events", :group => @group, :alert => @alert, :sensors => @sensors, :f => event_builder, :event => event_builder.object 
    %br/
    %br/
    .actions.row-fluid
      = f.submit (@alert.new_record? ? "Create Alert" : "Update Alert"), :class => "btn btn-primary"
:javascript
  $( ".datepicker" ).datetimepicker({
      dateFormat: "yy-mm-dd",
      changeYear: true,
      changeMonth: true,
      showSecond: true,
      timeFormat: "hh:mm:ssz",
      separator: " "});

  $('#commands a.delete').live('click', function(e) {
    var target = $(e.target).parents(".event-update")
    $.get($(e.target).prop('href'), function(data) {
      $('#commands').append(data);
    });

    e.stopPropagation();
    return false;
  });

  $('.command select').popover({
    animation: true
  });
