.row-fluid
  .span12
    .sensor-controls
      = link_to 'New Alert', new_group_alert_path(@group), class: "btn btn-primary"
    %h2 Listing Alerts
.row-fluid
  .span12
    %table.table.table-stripped.table-condenced
      %tr
        %th Alert Name
        %th Starts At
        %th Ends At
        %th Controls
      - @alerts.each do |alert|
        %tr
          %td= alert.name
          %td= alert.starts_at
          %td= alert.ends_at
          %td
            %table
              %tr
                %td= link_to 'Edit', edit_group_alert_path(@group, alert), class: "btn btn-primary"
                %td= link_to 'Delete', group_alert_path(@group, alert), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger delete"
%br/
